.info-component {
  /*width: 1440px;*/
  /*height: 1024px;*/
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(13, 127, 187, 0.02) 0%, rgba(16, 137, 201, 0.474806) 17.85%, #1494D9 38.47%, #022231 100%);
}  

.info-component__border {
  position: absolute;
  top: 3%; 
  left: 1.5%;
  width: 100% !important;
  height: 100% !important;   
  border: 1px solid #FCFC26; 
  border-radius: 1.06vw !important; /* 20px */  
  border-image-slice: 1;
  pointer-events: none;
  z-index: 1;  
}

.info-component__border::before {
  content: none;
}

.info-component__image-wrapper {
  position: relative;
  width: 97% !important;
  height: 95% !important;  
  background-size: cover;     
  justify-content: center; 
  align-items: center;  
}

.info-component__background {
  width: 929px; 
  height: 929px; 
  object-fit: cover;
  position: relative;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 66%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 1) 66%, rgba(0, 0, 0, 0) 100%);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  background-color: transparent;
}

.info-component__top-buttons {
  width: 100% !important; 
  display: flex;
  position: relative;    
  justify-content: space-between;
  align-items: center;  
  padding: 0.8vw;  
}

.info-top-btn1 {
  width: 105px !important; 
  height: 75px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  transform: translateX(-40%) translateY(-30%);
  z-index: 2;
  pointer-events: auto;
}
.info-top-btn1 img {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.info-top-btn2 {
  width: 151px !important; 
  height: 58.23px !important; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  position: absolute;
  top: -3.2vw !important; 
  position: relative;
  z-index: 10000; 
  background-color: transparent;
  border: none;
  pointer-events: auto;
  
}
.info-top-btn2 img {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
  }

.info-top-btn3 {
  width: 105px !important; 
  height: 75px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  transform: translateX(40%) translateY(-30%) !important;
  z-index: 2;
  pointer-events: auto;
}
.info-top-btn3 img {
  display: block;
  width: 100%;
  height: auto;
  cursor: pointer;
}
.info-component__content {
  position: absolute;
  top: 14%;
  left: 28%;
  width: 100%;
  height: 100%;
  z-index: 2;    
  transform: translate(12.5%, -8%);
}

.info-content__block1 {
  width: 27.76vw; /* 533px */
  height: 3.59vw; /* 69px */   
  display: flex;    
  justify-content: flex-start;
  margin-bottom: 0.52vw; /* 10px */    
}

.info-block1__child1 {
  width: 12.76vw; /* 245px */
  height: 3.59vw; /* 69px */
  background: #E4B832;
  border: 1px solid #FCFC26;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 0 100%);
  border-top-left-radius: 1.04vw; /* 20px */
  pointer-events: auto;
  transform: translateX(0%) translateY(0%);
}

.info-block1__child1 p {
  font-family: 'Project Space', sans-serif;
  font-size: 1.04vw; /* 20px */
  font-weight: 400;
  line-height: 1.38vw; /* 26.56px */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;   
}

.info-block1__child2 {
  border: 1px solid #FCFC26;
  display: inline-block;
  width: 18.85vw; /* 362px */
  height: 3.59vw; /* 69px */
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(73, 97, 132);
  clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 20px 100%);
  pointer-events: auto; 
}

.info-block1__child2 p {
  font-family: 'Project Space', sans-serif;
  font-size: 1.04vw; /* 20px */
  font-weight: 400;
  line-height: 1.38vw; /* 26.56px */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.info-link {
  text-decoration: none !important;
  pointer-events: auto;
}

.info-content__block2 {
  width: 44.84vw; /* 861px */
  height: 8.39vw; /* 161px */
  background: #06002A;
  border: 1px solid #FCFC26;
  display: flex;    
  align-items: center;
  margin-bottom: 1.04vw; /* 20px */
  border-radius: 1.04vw; /* 20px */
  padding: 1.04vw; /* 20px */
  transform: translate(22%, 0%) !important;
}

.info-content__block2 p {
  width: 44.84vw; /* 861px */
  height: 8.39vw; /* 161px */
  padding: 1.04vw; /* 20px */
  font-family: 'Project Space', sans-serif;
  text-transform: uppercase;
  font-size: 1.67vw; /* 32px */
  font-weight: 400;
  line-height: 2.32vw; /* 44.48px */
  text-align: right;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FCFC26;
  border-radius: 1.04vw; /* 20px */
}
.info-content__block3 {
  width: 55.28vw; /* 927px */
  height: auto; /* 715px */
  background: #06002A;
  border: 1px solid #E4B832;    
  padding: 1.04vw 1.56vw; /* сверху и снизу 20px, по бокам 30px */
  box-sizing: border-box;
  border-radius: 1.04vw; /* 20px */
}

.info-content__block3 p {
  font-family: 'Inter', sans-serif;
  font-size: 1.2vw; /* 23px */
  font-weight: 400;
  line-height: 1.45vw; /* 27.84px */
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #FFFFFF;
}
/* Размытие заднего фона */
.modal-logo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  backdrop-filter: blur(42px); /* Размытие 42px */
  z-index: 1000;
}
.info-component__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5vw; /* 10px */
  margin-bottom: 1vw; /* 10px */
  pointer-events: auto;
}
.info-component__back-button {
  font-family: 'Inter', sans-serif;
  font-size: 1.25vw; /* 24px */
  font-weight: 400;
  line-height: 1.93vw; /* 37px */
  text-align: left;
  color: inherit;
  pointer-events: auto;
  background: none;
  border: none;
  cursor: pointer;
  color: #E4B832;
  pointer-events: auto;
}
.info-component__offer-button {
width: 11.2vw; /* 215px */
height: 2.6vw; /* 61.6px */
background: #E4B832;
box-shadow: 0 0 10px #E4B832;
font-family: 'Inter', sans-serif;
font-size: 1.3vw; /* 25px */
font-weight: 400;
line-height: 1.58vw; /* 30.26px */
text-align: center;
text-transform: uppercase;
color: #44171C;
border: none;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
border-radius: 1.04vw; /* 20px */
}
.info-component__button {
width: 4.57vw; /* 49.37px */
height: 2.6vw; /* 61.6px */
background: #E4B832;
border: none;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
color: #44171C;
border-radius: 1.04vw; /* 20px */
pointer-events: auto;
}
.info-component__icon {
width: 2.57vw; /* 49.37px */
height: 1.66vw; /* 37.56px */
color: #44171C;
pointer-events: auto;
}


@media (max-width: 768px) {
  .info-component {
    width: 100%;
    height: 100vh;
  }

  .info-component__background {
    width: 700px; 
    height: 1050px;
  }

  .info-component__content {
    position: absolute;
    top: 14%;
    left: 28%;
    width: 100%;
    height: 100%;
    z-index: 2;    
    transform: translate(8%, 6%);
  }

  .info-component__border {
    top: 4%;
    left: 2%;
    width: 95%;
    height: 95%;
  }

  .info-component__image-wrapper {
    width: 95%;
    height: 95%;
  }

  .info-component__background {
    width: 700px;
    height: 1050px;
  }

  .info-component__top-buttons {
    gap: 12px; 
  }

  .info-top-btn1 {
    width: 3.91vw; /* 75px */
    height: 3.91vw; /* 75px */
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    transform: translateX(-30%) translateY(-30%) !important;
    z-index: 2;
    pointer-events: auto;
  }
  .info-top-btn1 img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  .info-top-btn2 {
    width: 151px; /* 151px */
    height: 58.23px; /* 58.23px */
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    transform: translateX(0%) translateY(-40%) !important;
    position: relative;
    z-index: 2;
    background-color: transparent;
    pointer-events: auto;
  }
  .info-top-btn2 img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  .info-top-btn3 {
    width: 3.91vw; /* 75px */
    height: 3.91vw; /* 75px */
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    transform: translateX(38%) translateY(-30%) !important;
    z-index: 2;
    pointer-events: auto;
  }
  .info-top-btn3 img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .info-content__block1 {
    width: 45.57vw; /* 350px */
    height: 6.51vw; /* 50px */
    margin-bottom: 1.56vw; /* 12px */
  }

  .info-block1__child1 {
    width: 19.53vw; /* 150px */
    height: 6.51vw; /* 50px */
    transform: translateX(15%) translateY(0%);
  }

  .info-block1__child1 p {
    font-size: 1.82vw; /* 14px */
  }

  .info-block1__child2 {
    width: 26.04vw; /* 200px */
    height: 6.51vw; /* 50px */
  }

  .info-block1__child2 p {
    font-size: 1.82vw; /* 14px */
  }
   
  .info-content__block2 {
    width: 44.84vw; 
    height: auto; 
    background: #06002A;
    border: 1px solid #FCFC26;
    display: flex;    
    align-items: center;
    margin-bottom: 1.04vw !important; /* 20px */
    border-radius: 1.04vw !important; /* 20px */
    padding: 1.04vw; /* 20px */
    transform: translate(32%, 0%) !important;
  }
  .info-content__block2 p {
    font-size: 2.08vw; /* 16px */
    line-height: 2.60vw; /* 20px */
    padding: 0 1.56vw; /* 12px */
    height: auto; 
  }

  .info-content__block3 {
    width: 58.59vw; /* 450px */
    height: auto;
    padding: 1.95vw; /* 15px */
  }

  .info-content__block3 p {
    font-size: 1.82vw; /* 14px */
  line-height: 2.34vw; /* 18px */
  }
}
@media (max-width: 700px) {
  .info-component__content {
    position: absolute;
    top: 14%;
    left: 28%;
    width: 100%;
    height: 100%;
    z-index: 2;    
    transform: translate(8%, 20%);
  }
}
@media (max-width: 650px) {
  .info-component__content {
    position: absolute;
    top: 14%;
    left: 28%;
    width: 100%;
    height: 100%;
    z-index: 2;    
    transform: translate(8%, 20%);
  }
}
@media (max-width: 600px) {    
  .info-component {
    width: 100%;
    height: 100vh;
  }

  .info-component__background {
    width: 700px; 
    height: 1050px;
  }

  .info-component__content {
    position: absolute;
    top: 14%;
    left: 28%;
    width: 100%;
    height: 100%;
    z-index: 2;    
    transform: translate(8%, 23%);
  }

  .info-component__border {
    position: absolute;
    top: 3%; 
    left: 2%;
    width: 100% !important;
    height: 100% !important;        
    border-image-slice: 1;
    pointer-events: none;
    z-index: 1;
    border: 1px solid #FCFC26; 
    border-radius: 1.06vw !important; /* 20px */  
  }
  
  .info-component__border::before {
    content: none;
  }

  .info-component__image-wrapper {
    width: 95%;
    height: 95%;
  }

  .info-component__background {
    width: 700px;
    height: 1050px;
  }

  .info-component__top-buttons {
    gap: 12px; 
  }

  .info-top-btn1 {
    width: 75.01px !important;
    height: 72.7px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    transform: translateX(-29%) translateY(-25%) !important;
    z-index: 2;
    pointer-events: auto;
  }
  .info-top-btn1 img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  .info-top-btn2 {
    width: 65px !important; 
    height: 23px  !important; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: #06002A !important; 
    border: none;
    border-radius: 9px !important; 
    position: absolute;
    top: 0vw !important; /* 15px */
    position: relative;
    z-index: 10000;    
    pointer-events: auto;
    transform: translateX(0%) translateY(-140%) !important;
  }
  .info-top-btn2 img {
    display: block;
    width: 100% !important; 
    height: 100%  !important; 
    height: auto;
    cursor: pointer;
  }
  .info-top-btn3 {
    width: 75.01px !important;
    height: 72.7px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    transform: translateX(27%) translateY(-25%) !important;
    z-index: 2;
    pointer-events: auto;
  }
  .info-top-btn3 img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .info-content__block1 {
    width: 45.57vw; /* 350px */
    height: 6.51vw; /* 50px */
    margin-bottom: 1.56vw; /* 12px */
  }

  .info-block1__child1 {
    width: 19.53vw; /* 150px */
    height: 6.51vw; /* 50px */
    transform: translateX(15%) translateY(0%);
  }

  .info-block1__child1 p {
    font-size: 1.82vw; /* 14px */
  }

  .info-block1__child2 {
    width: 26.04vw; /* 200px */
    height: 6.51vw; /* 50px */
  }

  .info-block1__child2 p {
    font-size: 1.82vw; /* 14px */
  }
   
  .info-content__block2 {
    width: 44.84vw; 
    height: auto; 
    background: #06002A;
    border: 1px solid #FCFC26;
    display: flex;    
    align-items: center;
    margin-bottom: 1.04vw !important; /* 20px */
    border-radius: 1.04vw !important; /* 20px */
    padding: 1.04vw; /* 20px */
    transform: translate(32%, 0%) !important;
  }
  .info-content__block2 p {
    font-size: 2.08vw; /* 16px */
    line-height: 2.60vw; /* 20px */
    padding: 0 1.56vw; /* 12px */
    height: auto; 
  }

  .info-content__block3 {
    width: 58.59vw; /* 450px */
    height: auto;
    padding: 1.95vw; /* 15px */
  }

  .info-content__block3 p {
    font-size: 1.82vw; /* 14px */
  line-height: 2.34vw; /* 18px */
  }
}
@media (max-width: 550px) {
  .info-component__content {
    position: absolute;
    top: 14%;
    left: 28%;
    width: 100%;
    height: 100%;
    z-index: 2;    
    transform: translate(8%, 29%);
  }
}
@media (max-width: 430px) {
  .info-component {
    width: 100%;
    height: 100vh;
  }

  .info-component__background {
    width: 700px; 
    height: 1050px;
  }

  .info-component__content {
    position: absolute;
    top: 14%;
    left: 28%;
    width: 100%;
    height: 100%;
    z-index: 2;    
    transform: translate(8%, 35%);
  }

  .info-component__border {
    top: 4%;
    left: 2%;
    width: 95%;
    height: 95%;
  }

  .info-component__image-wrapper {
    width: 95%;
    height: 95%;
  }

  .info-component__background {
    width: 700px;
    height: 1050px;
  }

  .info-component__top-buttons {
    gap: 12px; 
  }

  .info-top-btn1 {
    width: 3.91vw; /* 75px */
    height: 3.91vw; /* 75px */
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    transform: translateX(-30%) translateY(-30%) !important;
    z-index: 2;
    pointer-events: auto;
  }
  .info-top-btn1 img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  .info-top-btn2 {
    width: 151px; /* 151px */
    height: 58.23px; /* 58.23px */
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    transform: translateX(0%) translateY(-150%) !important;
    position: relative;
    z-index: 2;
    background-color: transparent;
    pointer-events: auto;
  }
  .info-top-btn2 img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  .info-top-btn3 {
    width: 3.91vw; /* 75px */
    height: 3.91vw; /* 75px */
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    transform: translateX(38%) translateY(-30%) !important;
    z-index: 2;
    pointer-events: auto;
  }
  .info-top-btn3 img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
  }

  .info-content__block1 {
    width: 45.57vw; /* 350px */
    height: 6.51vw; /* 50px */
    margin-bottom: 1.56vw; /* 12px */
  }

  .info-block1__child1 {
    width: 19.53vw; /* 150px */
    height: 6.51vw; /* 50px */
    transform: translateX(15%) translateY(0%);
  }

  .info-block1__child1 p {
    font-size: 1.82vw; /* 14px */
  }

  .info-block1__child2 {
    width: 26.04vw; /* 200px */
    height: 6.51vw; /* 50px */
  }

  .info-block1__child2 p {
    font-size: 1.82vw; /* 14px */
  }
   
  .info-content__block2 {
    width: 44.84vw; 
    height: auto; 
    background: #06002A;
    border: 1px solid #FCFC26;
    display: flex;    
    align-items: center;
    margin-bottom: 1.04vw !important; /* 20px */
    border-radius: 1.04vw !important; /* 20px */
    padding: 1.04vw; /* 20px */
    transform: translate(32%, 0%) !important;
  }
  .info-content__block2 p {
    font-size: 2.08vw; /* 16px */
    line-height: 2.60vw; /* 20px */
    padding: 0 1.56vw; /* 12px */
    height: auto; 
  }

  .info-content__block3 {
    width: 58.59vw; /* 450px */
    height: auto;
    padding: 1.95vw; /* 15px */
  }

  .info-content__block3 p {
    font-size: 1.82vw; /* 14px */
  line-height: 2.34vw; /* 18px */
  }
}

@media (max-width: 402px) {    
    .info-component {
      width: 100%;
      height: 100vh;
    }
  
    .info-component__background {
      width: 700px; 
      height: 1050px;
    }
  
    .info-component__content {
      position: absolute;
      top: 14%;
      left: 28%;
      width: 100%;
      height: 100%;
      z-index: 2;    
      transform: translate(8%, 37%);
    }
  
    .info-component__border {
      top: 4%;
      left: 2%;
      width: 95%;
      height: 95%;
    }
  
    .info-component__image-wrapper {
      width: 95%;
      height: 95%;
    }
  
    .info-component__background {
      width: 700px;
      height: 1050px;
    }
  
    .info-component__top-buttons {
      gap: 12px; 
    }
  
    .info-top-btn1 {
      width: 3.91vw; /* 75px */
      height: 3.91vw; /* 75px */
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      transform: translateX(-30%) translateY(-30%) !important;
      z-index: 2;
      pointer-events: auto;
    }
    .info-top-btn1 img {
      display: block;
      width: 100%;
      height: auto;
      cursor: pointer;
    }
    .info-top-btn2 {
      width: 151px; /* 151px */
      height: 58.23px; /* 58.23px */
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      transform: translateX(0%) translateY(-150%) !important;
      position: relative;
      z-index: 2;
      background-color: transparent;
      pointer-events: auto;
    }
    .info-top-btn2 img {
      display: block;
      width: 100%;
      height: auto;
      cursor: pointer;
    }
    .info-top-btn3 {
      width: 3.91vw; /* 75px */
      height: 3.91vw; /* 75px */
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      transform: translateX(38%) translateY(-30%) !important;
      z-index: 2;
      pointer-events: auto;
    }
    .info-top-btn3 img {
      display: block;
      width: 100%;
      height: auto;
      cursor: pointer;
    }
  
    .info-content__block1 {
      width: 45.57vw; /* 350px */
      height: 6.51vw; /* 50px */
      margin-bottom: 1.56vw; /* 12px */
    }
  
    .info-block1__child1 {
      width: 19.53vw; /* 150px */
      height: 6.51vw; /* 50px */
      transform: translateX(15%) translateY(0%);
    }
  
    .info-block1__child1 p {
      font-size: 1.82vw; /* 14px */
    }
  
    .info-block1__child2 {
      width: 26.04vw; /* 200px */
      height: 6.51vw; /* 50px */
    }
  
    .info-block1__child2 p {
      font-size: 1.82vw; /* 14px */
    }
     
    .info-content__block2 {
      width: 44.84vw; 
      height: auto; 
      background: #06002A;
      border: 1px solid #FCFC26;
      display: flex;    
      align-items: center;
      margin-bottom: 1.04vw !important; /* 20px */
      border-radius: 1.04vw !important; /* 20px */
      padding: 1.04vw; /* 20px */
      transform: translate(32%, 0%) !important;
    }
    .info-content__block2 p {
      font-size: 2.08vw; /* 16px */
      line-height: 2.60vw; /* 20px */
      padding: 0 1.56vw; /* 12px */
      height: auto; 
    }
  
    .info-content__block3 {
      width: 58.59vw; /* 450px */
      height: auto;
      padding: 1.95vw; /* 15px */
    }
  
    .info-content__block3 p {
      font-size: 1.82vw; /* 14px */
    line-height: 2.34vw; /* 18px */
    }
}