.header {
    position: relative;
    width: 100% !important;
    height: 100vh !important;
    /*width: 1177px;
    height: 1569px;*/
    overflow: hidden;
    /*background: linear-gradient(
        90deg,
        transparent 0%,  
        transparent 40%,  
        rgba(16, 137, 201, 0.5) 50%, 
        #1494D9 60%,      
        #022231 100%     
    );*/
    pointer-events: auto;
}  
  .header__background {
    position: absolute;
    object-fit: cover; 
    top: 0;
    left: 0;
    width: 100%; /* Растянуть на всю ширину */
    height: 100%; /* Растянуть на всю высоту */
    z-index: 1;    
    background-size: cover; 
    background: linear-gradient(90deg, rgba(13, 127, 187, 0.02) 0%, rgba(16, 137, 201, 0.474806) 20%, #1494D9 60%, #022231 100%);
    z-index: 2;
    transform: scale(1.1); 
 
  }
  .header__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1;
}

  .header__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 2;
  }
  
  .header__border {
      position: absolute;
      top: 3%;
      left: 2%;
      width: 100% !important;
      height: 100% !important;
      /*width: 1120px;
      height: 1474px;*/      
     
      border-image-slice: 1;      
      pointer-events: none; 
      z-index: 1;
      border-radius: 1.06vw !important; /* 20px */  
      
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .header__border::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit; /* Наследуем радиус из .header__border */
      background: linear-gradient(
          to right,
          #FCFC26 0%,
          #ED77A9 40%,
          transparent 50%, /* Разрыв в линии */
          transparent 60%, 
          #ED77A9 80%,
          #FCFC26 100%
      );
      border-top: none;
      mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
      -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
      mask-composite: exclude;
      -webkit-mask-composite: xor;
      border: 2px solid transparent; 
      box-sizing: border-box;
      pointer-events: none;
      
  }
    /*.header__border {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(
        to right,
        #F6C859 0%,
        #F6C859 523px, /* До начала кнопки 
        transparent 524px, /* Прерывание 
        transparent 675px, /* Конец кнопки 
        #F6C859 676px /* Продолжение линии 
      );
      z-index: 1;    
    }*/
  
  .header__image-wrapper {
      position: relative;
      width: 95% !important;
      height: 95% !important; 
      /*width: 1177px;
      height: 1569px;*/
      /*background: url('/public/1.png') no-repeat center center;*/
      background-size: cover;       
  }
  
  .header-top {
      display: flex;
      position: relative;
      gap: 0.53vw; /* 10px */
      justify-content: space-between;
      align-items: center;    
    }
    
    .top-btn1 {
      width: 105px !important; 
      height: 75px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      position: absolute;
      top: 0.52vw; /* 10px */
      left: -42.54vw; /*  */
      transform: none; 
      z-index: 2;
      pointer-events: auto;
    }
    .top-btn1 img {
      display: block;
      width: 100%;
      height: auto;
      cursor: pointer;
    }
    
    .top-btn2 {
      width: 151px !important; 
      height: 58.23px !important; 
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      position: absolute;
      top: 0.78vw; /* 15px */
      position: relative;
      z-index: 10000; 
      background-color: transparent;
      border: none;
      pointer-events: auto;
    }
    .top-btn2 img {
        display: block;
        width: 100%;
        height: auto;
        cursor: pointer;
      }
      
    .top-btn3 {
      width: 105px !important; 
      height: 75px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      position: absolute;
      top: 0.52vw; /* 10px */
      left: 46.15vw; /*  */
      transform: none; 
      z-index: 2;
      pointer-events: auto;
    }
    .top-btn3 img {
      display: block;
      width: 100%;
      height: auto;
      cursor: pointer;
    }  
   
  .side-btn {
      width: 55.78vw !important; /* 1071px */
      height: 5.89vw !important; /* 113px */
      background: #06002A;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 1.06vw; /* 20px */
      font-size: 0.85vw; /* 16px */
      cursor: pointer;   
      padding: 0 1.04vw; /* 20px */
      text-decoration: none !important;
    }
    .button{
      width: 59.06vw !important; /* 1071px */
    }
    .side-btn.expanded {
      height: 0.092vw !important; /* 176px когда раскрыта */
  }
    
    .side-btn__title {
      font-family: 'Project Space', sans-serif;
      font-size: 1.25vw;  /* 24px */
      font-weight: 400;
      line-height: 1.66vw; /* 31.87px */
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #E4B832;
      padding: 0.27vw; /* 5px */      
    }
    .side-btn__description {
      font-family: 'Inter', sans-serif;
      font-size: 0.83vw; /* 16px */
      font-weight: 400;
      line-height: 1vw; /* 19.36px */
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #FFFFFF;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-height: 1.5em; /* Высота усечённого текста */
      transition: max-height 0.3s ease;
    }

    .side-btn__description.expanded {
      white-space: normal;
      overflow: visible;
      max-height: none; 
    }

    .side-btn__price {
      font-family: 'Project Space', sans-serif;
      font-size: 1.3vw; /* 25px */
      font-weight: 400;
      line-height: 1.73vw; /* 33.2px */
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #E4B832;
      margin-left: 5.21vw; /* 100px */
    }
    .side-btn__icon {
      width: 1.51vw; /* 29px */
      height: 1.30vw; /* 25px */
      color: #E4B832;
    }
    .side-btn__header, .center-btn__header {
      display: flex;     
      align-items: center;
      width: 100%;
      
    }
    .button{
      text-decoration: none !important;
    }
    .side-btn__title-wrapper, .center-btn__title-wrapper {
      display: flex;
      align-items: center;
      gap: 0.43vw; /* 8px */
      width: 667px; /* px */
      height: 3.35vw; /* 63px */
    }
    
    .side-btn__description, .center-btn__description {
      width: 100%;
      margin-top: 0.53vw; /* 10px */
      text-align: left;    
    }
    .bottom-btn {
      width: 4.97vw; /* 93.5px */
      height: 2.5vw; /* 47px */
      background: none; 
      border: none; 
      cursor: pointer;
      transform: translateX(1800%) translateY(-500%);
    }
    
    .bottom-btn__icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .button-right {
      width: 2.95vw !important; /* 56.79px */
      height: 3.01vw !important; /* 58px */
      background-color: #340233;
      position: absolute;
      top: 22.23vw; /* 418px */
      left: 91.9vw; /* 1725px */
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      z-index: 1200;
      pointer-events: auto;     
      display: flex !important;
    }
    .modal-open .button-right {
      display: none; 
    }
    .button-right__icon {
      width: 3.56vw; /* 67px */
      height: 3.93vw; /* 74px */
      color: #F6C859;
      margin-right: 1.06vw; /* 20px */
    }    
   
     
  
  /* Стиль для модального окна сбоку */
  .modal {
    position: fixed;
    top: 5%;
    right: 0;   
    height: 90%;   
    z-index: 1550;
    animation: slideIn 0.3s ease-out;
    overflow: hidden;
    border-radius: 20px !important;
    pointer-events: auto;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    backdrop-filter: blur(21.6px); 
    z-index: 1000;
  }

  /* Стиль для модального окна логотипа */
  .modal-logo {
    position: fixed;
    z-index: 1500;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 10000;
    width: 300px;
    padding: 20px;
    border-radius: 20px !important;    
  }
  .modal-logo__content {
    text-align: center;
    pointer-events: auto;
  }
  .modal-logo-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(42px); 
    z-index: 1000; 
  }
  .modal-open .button-right {
    display: flex !important; 
  }
  .modal-open .top-btn2 {
    display: none; 
  }
  .modal-open .button-right {
    transform: translateX(-2000%) translateY(0%);
    background: none;
  }
  /* Скрыть кнопку сбоку, когда открыто логотипное модальное окно */
  .modal-logo .button-right {
    display: none !important;
  }
  .header-scroll {
    /*width: 100%;
    height: 100vh;*/
    overflow-y: auto; 
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    /*justify-content: center; 
    align-items: center;     
    position: relative;*/
    z-index: 10;
    pointer-events: auto;
   /* transform: translateX(00%) translateY(-5%);*/
    width: 64.27vw; /* 1234px */
    height: 35.16vw !important; /* 675px */
    background: #15001561;
    border-radius: 0 2.08vw 2.08vw 2.08vw; /* 0 40px 40px 40px */
    backdrop-filter: blur(10.7px); /* в макете 19*/
    box-shadow: 0px -8px 80.6px 0px #E4B832;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #C8A131 #06002A;
    padding: 1.04vw; /* 20px */
    gap: 0.78vw; /* 15px */
    margin-top: -0.78vw; /* -15px */ 
  }
  .header-scroll::-webkit-scrollbar {
    width: 0.99vw; /* 19px */
    background: #06002A;
  }
  
  .header-scroll::-webkit-scrollbar-thumb {
    background: #C8A131;
    border-radius: 2.08vw; /* 40px */
  }
  .header-buttons {
    display: flex;
    transform: translateX(-52%) translateY(-20%);
    align-items: center;   
  }
  
  .header-buttons__tab1 {
    width: 12.76vw; /* 245px */
    height: 3.59vw; /* 69px */
    background: #E4B832;
    border: 1px solid #FCFC26;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 0 100%);
    border-top-left-radius: 1.04vw; /* 20px */
    pointer-events: auto;
    font-family: 'Project Space', sans-serif;
    font-size: 1.04vw; /* 20px */
    font-weight: 400;
    line-height: 1.38vw; /* 26.56px */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
  }
  
  .header-buttons__tab2 {
    width: 18.85vw; /* 362px */
    height: 3.59vw; /* 69px */
    background: rgb(73, 97, 132);
    border: 1px solid #FCFC26;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 100%, 20px 100%);
    pointer-events: auto;
    font-family: 'Project Space', sans-serif;
    font-size: 1.04vw; /* 20px */
    font-weight: 400;
    line-height: 1.38vw; /* 26.56px */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transform: translateX(-7%) translateY(0%);
  }
  
  .header-buttons__tab1.active,
  .header-buttons__tab2.active {
    box-shadow: 0 0 20px rgba(228, 184, 50, 0.8);
    z-index: 10;
  }
  .header-scroll a {
    text-decoration: none; 
  }
  
  
  
  @media (max-width:600px) {
    .header {
      position: relative;
      width: 100% !important;
      height: 100vh !important;
      /*width: 1177px;
      height: 1569px;*/
      overflow: hidden;
      background: none;
      background: linear-gradient(
        90deg,
        transparent 0%,  
        transparent 40%,  
        rgba(16, 137, 201, 0.5) 50%, 
        #1494D9 60%,      
        #022231 100%     
    );
    }  
    .header-top {
      height: 8% !important;
    }
    .header__background {
      position: absolute;
      object-fit: cover; 
      top: 0;
      left: 0;
      width: 67vw !important; /* 402px */
      height: 100vh !important; 
      background: none;
      z-index: 2;
    }
    .header__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
      z-index: 2;
    }
  
    .header__border {
      position: absolute;
      top: 3%;
      left: 3%;
      width: 100% !important;
      height: 100% !important;
      /*width: 1120px;
      height: 1474px;*/    
      border-image-source: linear-gradient(208.21deg, #FCFC26 0.43%, #ED77A9 99.49%);
      border-image-slice: 1;    
      pointer-events: none; 
      z-index: 1;
      border-radius: 3.33vw; /* 20px */
    }
    
  
    .header__image-wrapper {
      position: relative;
      width: 95% !important;
      height: 95% !important; 
      /*width: 1177px;
      height: 1569px;*/
      /*background: url('/public/1.png') no-repeat center center;*/
      background-size: cover;      
    }
  
    .header-top {
      display: flex;
      gap: 0.53vw; /* 10px */
      justify-content: space-between;
      align-items: center;    
    }
    
    .top-btn1 {
      width: 75.01px !important;
      height: 72.7px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      transform: translateX(-50%) translateY(-60%);
      z-index: 2;
      pointer-events: auto;
    }
    .top-btn1 img {
      display: block;
      width: 100%;
      height: auto;
      cursor: pointer;
    }
    
    .top-btn2 {
      width: 151px !important; 
      height: 58.23px !important; 
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      transform: translateX(0%) translateY(-80%);
      position: relative;
      z-index: 10000; 
      background-color: transparent;
      border: none;
      pointer-events: auto;
    }
    .top-btn2 img {
      display: block;
      width: 100%;
      height: auto;
      cursor: pointer;
    }
      
    .top-btn3 {
      width: 75.01px !important;
      height: 72.7px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      transform: translateX(47%) translateY(-60%);
      z-index: 2;
      pointer-events: auto;
    }
    .top-btn3 img {
      display: block;
      width: 100%;
      height: auto;
      cursor: pointer;
    }  
   
    .side-btn1, 
    .side-btn2, 
    .side-btn3, 
    .side-btn4, 
    .side-btn5, 
    .side-btn6,
    .side-btn7,
    .side-btn8 {
      width: 83.46vw !important; /* 347.44px */
      height: 15.4vw !important; /* 82.84px */
      background: #340233;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 1.99vw; /* 11.92px */
      font-size: 0.85vw; /* 16px */
      cursor: pointer;
      padding: 0 1.39vw !important;   
    }
    .side-btn1,
    .side-btn2,
    .side-btn3,
    .side-btn4,
    .side-btn5,
    .side-btn6, 
    .side-btn7,
    .side-btn8 {
      transform: none !important;
    }  
  
    
    .side-btn__title {
      font-family: 'Project Space', sans-serif;
      font-size: 2.38vw; /* 9.54px */
      font-weight: 400;
      line-height: 3.15vw; /* 12.66px */
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #E4B832;
      padding: 0.27vw; /* 5px */      
      
    }
    .side-btn__description {
      font-family: 'Inter', sans-serif;
      font-size: 2.38vw; /* 9.54px */
      font-weight: 400;
      line-height: 3.15vw; /* 12.66px */
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #FFFFFF;
      margin-top: 2.48vw !important; /* 10px */
      
    }
    .side-btn__price {
      font-family: 'Project Space', sans-serif;
      font-size: 2.38vw; /* 9.54px */
      font-weight: 400;
      line-height: 3.15vw; /* 12.66px */
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #E4B832;
      margin-left: 49.75vw; /* 200px */
      white-space: nowrap;      
    }
    .side-btn__icon {
      width: 1.38vw; /* 26px */
      height: 0.69vw; /* 13px */
      color: #E4B832;
      pointer-events: none;
    }
    .side-btn__header, .center-btn__header {
      display: flex;     
      align-items: center;
      width: 100%;
    }
    
    .side-btn__title-wrapper, .center-btn__title-wrapper {
      display: flex;
      align-items: center;
      gap: 0.43vw; /* 8px */
      width: 18.24vw; /* 343px */
      height: 3.35vw; /* 63px */
    }
    
    .side-btn__description, .center-btn__description {
      width: 100%;
      margin-top: 0.53vw; /* 10px */
      text-align: left;    
    }
    .bottom-btn {
      width: 4.97vw; /* 93.5px */
      height: 2.5vw; /* 47px */
      background: none; 
      border: none; 
      cursor: pointer;
      transform: translateX(1800%) translateY(-500%);
    }
    
    .bottom-btn__icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .button-right {
      width: 8.21vw; /* 33px */
      height: 8.39vw; /* 33.7px */
      background-color: #340233;
      position: absolute;
      top: 22.23vw; /* 418px */
      left: 91.8vw; /* 1725px */
      border-top-left-radius: 20%;
      border-bottom-left-radius: 20%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;    
      pointer-events: auto;
      z-index: 2000;
    }
   
    .button-right__icon {
      width: 4.85vw; /* 19.48px */
      height: 4.72vw; /* 18.96px */
      color: #F6C859;
      margin-right: 2.48vw; /* 10px */
    }
    
    .side-btn__dot1, 
    .side-btn__dot2, 
    .side-btn__dot3, 
    .side-btn__dot4, 
    .side-btn__dot5, 
    .side-btn__dot6,
    .side-btn__dot7,
    .side-btn__dot8 {
      width: 3.71vw; /* 14.9px */
      height: 3.71vw; /* 14.9px */
      color: #FCFC26;     
      text-shadow: 0 0 20px rgba(228, 184, 50, 0.8), 0 0 30px rgba(228, 184, 50, 0.8);
      position: relative;
    }

    .side-btn__dot1 {
      position: absolute;
      transform: translateX(2200%) translateY(0%);
      z-index: 10; 
    }
    
    .side-btn__dot2 {
      position: absolute;
      transform: translateX(2200%) translateY(0%);
      z-index: 10; 
    }
    
    .side-btn__dot3 {
      position: absolute;
      transform: translateX(2200%) translateY(0%);
      z-index: 10; 
    }
    
    .side-btn__dot4 {
      position: absolute;
      transform: translateX(2200%) translateY(0%);
      z-index: 10; 
    }  
    .side-btn__dot5 {
      position: absolute;
      transform: translateX(2200%) translateY(0%);
      z-index: 10; 
    }  
    .side-btn__dot6 {
      position: absolute;
      transform: translateX(2200%) translateY(0%);
      z-index: 10; 
    }  
    .side-btn__dot7 {
      position: absolute;
      transform: translateX(2200%) translateY(0%);
      z-index: 10; 
    }  
    .side-btn__dot8 {
      position: absolute;
      transform: translateX(2200%) translateY(0%);
      z-index: 10; 
    }  
   
     
    .button-with-dot1,
    .button-with-dot2,
    .button-with-dot3,
    .button-with-dot4,
    .button-with-dot5,
    .button-with-dot6,
    .button-with-dot7,
    .button-with-dot8 {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 2.5vw; /* 15px */
      width: 59.57vw !important; /* 357.44px */
      height: 13.81vw !important; /* 82.84px */
    }    
  
  
     
    /* Стиль для модального окна сбоку */
    .modal {
      position: fixed;
      top: 3%;
      right: 0;
      width: 88.65vw; /* 550px в viewport width */
      height: 190.86vw !important; /* 718px */   
      z-index: 1050;
      animation: slideIn 0.3s ease-out;
      overflow: hidden;
      border-radius: 20px !important;
    }
    
    /* Стиль для модального окна логотипа */
    .modal-logo {
      position: fixed;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0);
      background: rgba(255, 255, 255, 0.9);
      border: 1px solid #ccc;
      border-radius: 1.33vw; /* 8px */
      z-index: 1050;
      width: 50vw; /* 300px */
      padding: 0 1.67vw !important; /* 20px */
    }    
    .modal-logo__content {
      text-align: center;
    }  
    
    .header-scroll {
      width: 100%;
      height: auto;
      overflow-y: auto; 
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;     
      position: relative;
      z-index: 10;
      pointer-events: auto;
      transform: translateX(-15%) translateY(-4%);    
      overflow: visible; 
      gap: 0.5vw !important; /* 2px */
    }      
    .header-icon {
      display: block; /* Иконка по умолчанию */
    }
    
    /* Когда модальное окно открыто */
    .modal-active .header-icon {
      display: none; /* Скрыть иконку хедера */
    }
  }
  @media (max-width: 402px) {
    .header {
      position: relative;
      width: 100% !important;
      height: 100vh !important;
      /*width: 1177px;
      height: 1569px;*/
      overflow: hidden;
      background: none;
    }  
    .header__background {
      position: absolute;
      object-fit: cover; 
      top: 0;
      left: 0;
      width: 402px !important; 
      height: 100vh !important; 
      background: none;
      z-index: 2;
    }
    .header__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100% !important;
      height: 100% !important;
      z-index: 2;
    }
  
    .header__border {
      position: absolute;
      top: 3%;
      left: 3%;
      width: 100% !important;
      height: 100% !important;
      /*width: 1120px;
      height: 1474px;*/    
      border-image-source: linear-gradient(208.21deg, #FCFC26 0.43%, #ED77A9 99.49%);
      border-image-slice: 1;    
      pointer-events: none; 
      z-index: 1;
      border-radius: 1.06vw; /* 20px */
    }
    
  
    .header__image-wrapper {
      position: relative;
      width: 95% !important;
      height: 95% !important; 
      /*width: 1177px;
      height: 1569px;*/
      /*background: url('/public/1.png') no-repeat center center;*/
      background-size: cover;      
    }
  
    .header-top {
      display: flex;
      gap: 0.53vw; /* 10px */
      justify-content: space-between;
      align-items: center;    
    }
    
    .top-btn1 {
      width: 55.01px !important;
      height: 52.7px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      transform: translateX(-50%) translateY(-60%);
      z-index: 2;
      pointer-events: auto;
    }
    .top-btn1 img {
      display: block;
      width: 100%;
      height: auto;
      cursor: pointer;
    }
    
    .top-btn2 {
      width: 151px !important; 
      height: 58.23px !important; 
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      transform: translateX(0%) translateY(-60%);
      position: relative;
      z-index: 10000; 
      background-color: transparent;
      border: none;
      pointer-events: auto;
    }
    .top-btn2 img {
      display: block;
      width: 100%;
      height: auto;
      cursor: pointer;
    }
      
    .top-btn3 {
      width: 55.01px !important;
      height: 52.7px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      border: none;
      transform: translateX(50%) translateY(-60%);
      z-index: 2;
      pointer-events: auto;
    }
    .top-btn3 img {
      display: block;
      width: 100% !important;
      height: auto;
      cursor: pointer;
    }  
   
    .side-btn1, 
    .side-btn2, 
    .side-btn3, 
    .side-btn4, 
    .side-btn5, 
    .side-btn6,
    .side-btn7,
    .side-btn8 {
      width: 86.46vw !important; /* 347.44px */
      height: 18.61vw !important; /* 82.84px */
      background: #340233;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: none;
      border-radius: 11.92px; 
      font-size: 0.85vw; /* 16px */
      cursor: pointer;
      padding: 2.13vw; /* 40px */
    }
    .side-btn1,
    .side-btn2,
    .side-btn3,
    .side-btn4,
    .side-btn5,
    .side-btn6,
    .side-btn7,
    .side-btn8 {
      transform: none;
    }  
  
    
    .side-btn__title {
      font-family: 'Project Space', sans-serif;
      font-size: 2.38vw; /* 9.54px */
      font-weight: 400;
      line-height: 3.15vw; /* 12.66px */
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #E4B832;
      padding: 0.27vw; /* 5px */      
    }
    .side-btn__description {
      font-family: 'Inter', sans-serif;
      font-size: 2.38vw; /* 9.54px */
      font-weight: 400;
      line-height: 3.15vw; /* 12.66px */
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #FFFFFF;
      margin-top: 2.48vw !important; /* 10px */
    }
    .side-btn__price {
      font-family: 'Project Space', sans-serif;
      font-size: 2.38vw; /* 9.54px */
      font-weight: 400;
      line-height: 3.15vw; /* 12.66px */
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #E4B832;
      margin-left: 49.75vw; /* 200px */
      white-space: nowrap;
    }
    .side-btn__icon {
      width: 1.38vw; /* 26px */
      height: 0.69vw; /* 13px */
      color: #E4B832;
    }
    .side-btn__header, .center-btn__header {
      display: flex;     
      align-items: center;
      width: 100%;
    }
    
    .side-btn__title-wrapper, .center-btn__title-wrapper {
      display: flex;
      align-items: center;
      gap: 0.43vw; /* 8px */
      width: 18.24vw; /* 343px */
      height: 3.35vw; /* 63px */
    }
    
    .side-btn__description, .center-btn__description {
      width: 100%;
      margin-top: 0.53vw; /* 10px */
      text-align: left;    
    }
    .bottom-btn {
      width: 4.97vw; /* 93.5px */
      height: 2.5vw; /* 47px */
      background: none; 
      border: none; 
      cursor: pointer;
      transform: translateX(1800%) translateY(-500%);
    }
    
    .bottom-btn__icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .button-right {
      width: 8.21vw; /* 33px */
      height: 8.39vw; /* 33.7px */
      background-color: #340233;
      position: absolute;
      top: 22.23vw; /* 418px */
      left: 91.8vw; /* 1725px */
      border-top-left-radius: 20%;
      border-bottom-left-radius: 20%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;    
      pointer-events: auto;
      z-index: 2000;
    }
    
    .button-right__icon {
      width: 4.85vw; /* 19.48px */
      height: 4.72vw; /* 18.96px */
      color: #F6C859;
      margin-right: 2.48vw; /* 10px */
    }
    
    .side-btn__dot1, 
    .side-btn__dot2, 
    .side-btn__dot3, 
    .side-btn__dot4, 
    .side-btn__dot5, 
    .side-btn__dot6,
    .side-btn__dot7,
    .side-btn__dot8 {
      width: 3.71vw; /* 14.9px */
      height: 3.71vw; /* 14.9px */
      color: #FCFC26;     
      text-shadow: 0 0 20px rgba(228, 184, 50, 0.8), 0 0 30px rgba(228, 184, 50, 0.8);
      position: relative;
    }

    .side-btn__dot1 {
      position: absolute;
      transform: translateX(2270%) translateY(0%);
      z-index: 10; 
    }
    
    .side-btn__dot2 {
      position: absolute;
      transform: translateX(2270%) translateY(0%);
      z-index: 10; 
    }
    
    .side-btn__dot3 {
      position: absolute;
      transform: translateX(2270%) translateY(0%);
      z-index: 10; 
    }
    
    .side-btn__dot4 {
      position: absolute;
      transform: translateX(2270%) translateY(0%);
      z-index: 10; 
    }  
    .side-btn__dot5 {
      position: absolute;
      transform: translateX(2270%) translateY(0%);
      z-index: 10; 
    }  
    .side-btn__dot6 {
      position: absolute;
      transform: translateX(2270%) translateY(0%);
      z-index: 10; 
    }  
    .side-btn__dot7 {
      position: absolute;
      transform: translateX(2270%) translateY(0%);
      z-index: 10; 
    }  
    .side-btn__dot8 {
      position: absolute;
      transform: translateX(2270%) translateY(0%);
      z-index: 10; 
    }  
   
     
    .button-with-dot1,
    .button-with-dot2,
    .button-with-dot3,
    .button-with-dot4,
    .button-with-dot5,
    .button-with-dot6,
    .button-with-dot7,
    .button-with-dot8 {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1.73vw; 
      width: 88.94vw !important; /* 357.44px */
      height: 20.61vw !important; /* 82.84px */
    }    
  
  
    .modal {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.1);   
      box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
      border: 4px solid transparent;
      border-image-source: linear-gradient(208.21deg, #fcfc26 0.43%, #ed77a9 99.49%);
      border-image-slice: 1;
      animation: slideIn 0.3s ease-out;
      overflow-y: auto;
      z-index: 1050;      
      backdrop-filter: none;
      filter: none;
      box-shadow: none;
    }
    .modal-overlay {
      display: none;
    }
    
    .modal.hidden {
      opacity: 0;
      pointer-events: none;
    }
    @keyframes slideIn {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0);
      }
    }
    
    .modal__content {
      padding: 4.98vw; /* 20px */
      height: 100%;
      overflow-y: auto;
    }
    
    .header::before {      
      display: none !important;
    }
    
    .header.modal-open::before {
      display: block;
    }  
  
  
    /* Стиль для модального окна логотипа */
    .modal-logo {
      position: fixed;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0);
      background: rgba(255, 255, 255, 0.9);
      border: 1px solid #ccc;
      border-radius: 1.99vw; /* 8px */
      z-index: 1050;
      width: 74.63vw; /* 300px */
      padding: 4.98vw; /* 20px */
    }    
    .modal-logo__content {
      text-align: center;
    }  
    
    .header-scroll {
      width: 100%;
      height: auto;
      overflow-y: auto; 
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center; 
      align-items: center;     
      position: relative;
      z-index: 10;
      pointer-events: auto;
      transform: translateX(0%) translateY(-3%);
      gap: 0vw !important; /* 2px */     
    }      
    .header-icon {
      display: block; /* Иконка по умолчанию */
    }
    
    /* Когда модальное окно открыто */
    .modal-active .header-icon {
      display: none; /* Скрыть иконку хедера */
    }
  }